


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Hungry Hawk</title>
    <%= stylesheet_link_tag 'redtail' %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>

	<div id="page">    

	  <div id="content">

	    <h1>The Hungry Hawk</h1>

        <div id="main">
			<p>
			  <%= flash[:notice] %>
			</p>
	
            <%= yield %>

        </div>

        <hr/>
        <p id="legal">Copyright &copy; 2009, T. Andersen</p>

      </div>

    </div>
  </body>
</html>
