<h3>Come Join the Hungry Hawk for Lunch!</h3>
<p>
  Join Ankeny High School’s Hungry Hawk students 
  on the west side of the Media Center 
  for lunch at the Hungry Hawk Restaurant 
  on Thursday November 20, 2008 
  during 1st (11:10-11:40) lunch.
  If you have 2nd lunch (12:00-12:30) 
  you can pick up your lunch to go in our kitchen.
</p>
<p>
  This meal will help the students gain valuable, 
  real-world experience in many aspects of working 
  in a restaurant including quantity food production,  
  customer service, financial management, 
  and sanitation procedures. 
</p>
<p>
  The cost of the meal is $6 to be paid to the host when you arrive.    
</p>
<p id="large_link">
  <%= link_to "sign up", register_url %>
</p>
<p id="large_link">
  <%= link_to "login", login_url %>
</p>
