body { background-color: #999B6A; color: #333; }

body, p, ol, ul, td {
  font-size: 14px;
  font-family: sans-serif;
  line-height: 12px;
}
	
div {
        width: 400px;
        align: center;
}

table {
        font-family: courier;
        font-size: 10px;
        line-height: 12px;
        background-color: #B7B68E;
        border-spacing: 8px;
        border-color: #B7B68E;
}

input {
    border-color: black;
    border-width: thin;
    border-style: ridge;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bolder;
    background-color: #E9E9D1;
}

a {
        color:  #000;
        text-decoration: none;
}

a:visited {
        color: #000;
}

a:hover {
        color: #fff;
        background-color:#000;
}

#legal {
  font-size: 9px;
  font-style: italic;
  text-align: right;
}

#left {
    float: left;
    width: 100px;
    margin-left: 10px;
        border: 0px;
        border-color: black;
        border-style: solid;
}

div.main {
    margin-left: 200px;
        border: 1px;
        border-color: black;
        border-style: solid;
        background-color: #D7D395;
        padding: 20px;
}

#right {
        border: 1px;
        border-color: black;
        border-style: solid;
        background-color: #CCE78D;
    float: right;
        width: 250px;
        margin-right: 100px;
        padding: 10px;
}

#added_ingredients {
        border: 1px;
        border-color: black;
        border-style: solid;
        background-color: #D2CB9D;
        width: 400px;
        margin-right: 100px;
        padding: 10px;
}
