body { 
  background-color: #999B6A; 
  color: #333; 
}

body, p, ol, ul, td {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 18px;
}

label {
  width: 8em;
  float: left;
  white-space:nowrap;
  text-align: right;
  margin-right: 0.5em;
  display: block
}

input {
  margin-left: 0.5em;
  border-color: black;
  border-width: thin;
  border-style: ridge;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bolder;
  background-color: #E9E9D1;
}

a {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
}

a:hover {
  color: #fff;
  background-color:#000;
}

#login {
	text-align: right;
}


#legal {
  font-size: 9px;
  font-style: italic;
  text-align: right;
}

#page {
  background-color: #f0f0f0;
  width: 750px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

#content {
  float: left;
  background-color: #ffffff;
  border: 2px solid #000000;
  padding: 25px;
  width: 500px;
}

#main {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 75px;
  padding-right: 30px;
}

