body { 
  background-color: #999B6A; 
  color: #333; 
}

body, p, ol, ul, td {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 18px;
}

th {
  font-size: 10;
  border-color: black;
  border-width: thin;
  border-style: ridge;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  color: #ffffff;
  background-color: #777777;
}

label {
  width: 8em;
  float: left;
  white-space: nowrap;
  text-align: right;
  margin-right: 0.5em;
  display: block
}

input, textarea, select {
  margin-left: 0.5em;
  border-color: black;
  border-width: thin;
  border-style: ridge;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bolder;
  background-color: #E9E9D1;
}

a {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
}

a:hover {
  color: #fff;
  background-color:#000;
}

#login {
	text-align: right;
}


#legal {
  font-size: 9px;
  font-style: italic;
  text-align: right;
}

#page {
  background-color: #f0f0f0;
  width: 750px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

#content {
  float: left;
  background-color: #ffffff;
  border: 2px solid #000000;
  padding: 2em;
  width: 35em;
}

#main {
  border-top: 0px solid #ccc;
  border-bottom: 0px solid #ccc;
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 0px;
  padding-left: 2em;
  padding-right: 2em;
}



fieldset {
border: 1px solid #000000;
width: 30em
}

legend {
color: #000000;
background: #ffffff;
border: 1px solid #000000;
padding: 2px 6px
}
