<fieldset>
<legend>Reservations</legend>

<table>
  <tr>
    <th>Restaurant</th>
    <th>Date</th>
    <th>Name</th>
    <th>Special Request</th>
  </tr>
		
<% for reservation in @reservations %>
  <tr>
    <td><%=h reservation.restaurant.name %></td>
    <td><%=h reservation.restaurant.date %></td>
    <td><%=h reservation.user.name %></td>
    <td><%=h reservation.special_request %></td>
  </tr>
<% end %>

</table>
</fieldset>
