<h1>Welcome!</h1>
<p>
Click <%= link_to "here", :controller => "main", :action => "register" %> to register.
</p>
<p>
Click <%= link_to "here", :controller => "main", :action => "login" %> to log in.
</p>
